doctype html
html(lang='en')
  head
    link(rel='stylesheet' href='/style/index.css')
    script(src='/js/build.js')
    title=forum.title+' GameXfer'

    link(rel='icon' type='image/png' href='/images/treasure-64.png')
  body
    include header
    ul.nav-bar
      li
        a(href='/forums').
          forums
      li
        a(href='/f/'+forum.forumId).
          #{forum.forumId}
          
    .forum-page
      p.forum-title.
        #{forum.title}
      .forum-action-buttons
        a(href='/f/'+forum.forumId+'/create-thread' class='forum-ui-button').
          Create Thread
      .thread-table-header
        .col-md-8.pl-4.
          Title &amp; Description
        .col-md-1.
          Comments
        .col-md-1.
          Views
        .col-md-2.
          Last Comment
      if threads ? threads.length === 0 : false
        .thread-header.center-text
          .col-md-12
            p.
              No threads found :'(
            br
            a(href='/f/'+forum.forumId+'/create-thread')
              p.
                Create a new thread :D
      else
        each thread in threads
          .thread-header
            .col-md-8
              a(href='/f/'+thread.forumId+'/t/'+thread.threadId)
                p(class='thread-header-title').
                  #{thread.title}
                p(class='thread-header-description').
                  #{thread.description}
              .thread-header-author-time
                if thread.author
                  a(href='/u/'+thread.author.username)
                    p(class='thread-header-author inline-block').
                      #{thread.author.displayUsername}
                  p.inline-block.
                    &nbsp;
                p(class='thread-header-info  inline-block')=moment(thread.createdAt).fromNow()
            .col-md-1.
              #{thread.commentsLength}
            .col-md-1.
              #{thread.views}
            .col-md-2
              if thread.mostRecentCommentAuthor
                a(href='/u/'+thread.mostRecentCommentAuthor.username)
                  p.thread-header-author.
                    #{thread.mostRecentCommentAuthor.displayUsername}
                p(class='thread-header-info')=moment(thread.mostRecentCommentTime).fromNow()
      .forum-bottom-bar
        .page-selector
          - const lastPage = forum.threadsCreatedTotal ? Math.floor((forum.threadsCreatedTotal-1)/THREADS_PER_PAGE)+1 : 1;
          p.page-selection-text.
            Page #{forumPage} of #{lastPage}
          if forum.threadsCreatedTotal > THREADS_PER_PAGE
            a(href='/f/'+forum.forumId)
                p.page-selection-item(class=(forumPage===1)?'page-selected':null).
                  1
            if forumPage > 5
              p.inline-block.
                ...
            - let pageNumber = (forumPage-3 > 1) ? (forumPage-3) : 2;
            - let pagesDisplayedEnd = (forumPage+3 < lastPage) ? (forumPage+3) : lastPage;
            while pageNumber < pagesDisplayedEnd
              a(href='/f/'+forum.forumId+'/p/'+pageNumber)
                p.page-selection-item(class=(pageNumber===forumPage)?'page-selected':null).
                  #{pageNumber++}
            //- We don't need to show the last page for forums.
            //- if forumPage < lastPage - 3
            //-   p.inline-block.
            //-     ...
            //- a(href='/f/'+forum.forumId+'/p/'+lastPage)
            //-     p.page-selection-item(class=(forumPage===lastPage)?'page-selected':null).
            //-       #{lastPage}
    include footer
