doctype html
html(lang='en')
  head
    link(rel='stylesheet' href='/style/index.css')
    script(src='/js/build.js')
    title=forum.title+' GameXfer'

    link(rel='icon' type='image/png' href='/images/treasure-64.png')
  body
    include header
    ul.nav-bar
      li
        a(href='/forums').
          forums
      li
        a(href='/f/'+forum.forumId).
          #{forum.forumId}
          
    .forum-page
      a.forum-title(href='/f/'+forum.forumId).
        #{forum.title}
      .forum-action-buttons
        a(href='/f/'+forum.forumId+'/create-thread' class='forum-ui-button').
          Create Thread
      .thread-table-header
        .col-md-8.pl-4.
          Title &amp; Description
        .col-md-1.
          Comments
        .col-md-1.
          Views
        .col-md-2.
          Last Comment
      if threads ? threads.length === 0 : false
        .thread-header.center-text
          .col-md-12
            p.
              No threads found :'(
            br
            a(href='/f/'+forum.forumId+'/create-thread')
              p.
                Create a new thread :D
      else
        each thread in threads
          .thread-header
            .col-md-8
              a(href='/f/'+thread.forumId+'/t/'+thread.threadId)
                p(class='thread-header-title').
                  #{thread.title}
                p(class='thread-header-description').
                  #{thread.description}
              if thread.author
                a(href='/u/'+thread.author.username)
                  p(class='thread-header-author inline-block').
                    #{thread.author.displayUsername}
                p.inline-block.
                  &nbsp;
              p(class='thread-header-info  inline-block')=moment(thread.createdAt).fromNow()
            .col-md-1.
              #{thread.commentsLength}
            .col-md-1.
              #{thread.views}
            .col-md-2
              if thread.mostRecentCommentAuthor
                a(href='/u/'+thread.mostRecentCommentAuthor.username)
                  p.thread-header-author.
                    #{thread.mostRecentCommentAuthor.displayUsername}
                p(class='thread-header-info')=moment(thread.mostRecentCommentTime).fromNow()
    include footer
