doctype html
html(lang='en')
  head
    link(rel='stylesheet' href='/style/index.css')
    script(src='/js/build.js')
    title=forum.title+' GameXfer'

    link(rel='icon' type='image/png' href='/images/treasure-64.png')
  body
    include header
    .nav-bar
      a.inline-block(href='/forums').
        forums
      p.inline-block.
        &nbsp;&gt;&nbsp;
      a.inline-block(href='/f/'+forum.forumId).
        #{forum.forumId}
    .forum-page
      a.forum-title(href='/f/'+forum.forumId).
        #{forum.title}
      a(href='/f/'+forum.forumId+'/create-thread' class='forum-ui-button').
        Create Thread
      .thread-table-header.text-mute
        .col-md-8.px-2.
          Title &amp; Description
        .col-md-1.
          Comments
        .col-md-1.
          Views
        .col-md-2.
          Last Comment
      if threads ? threads.length === 0 : false
        .thread-header.center-text.
          No threads found
      else
        each thread in threads
          .thread-header
            .col-md-8
              p(class='thread-header-title')
                a(href='/f/'+thread.forumId+'/t/'+thread.threadId).
                  #{thread.title}
              p(class='thread-header-description')
                a(href='/f/'+thread.forumId+'/t/'+thread.threadId).
                  #{thread.description}
              if thread.author
                a(href='/u/'+thread.author)
                  p(class='thread-header-author inline-block').
                    #{thread.author.displayUsername}
                p.inline-block.
                  &nbsp;
              p(class='thread-header-info  inline-block')=moment(thread.createdAt).fromNow()
            .col-md-1.
              #{thread.commentsLength}
            .col-md-1.
              #{thread.views}
            .col-md-2
              if thread.mostRecentCommentAuthor
                a(href='/u/'+thread.mostRecentCommentAuthor.username)
                  p.thread-header-author.
                    #{thread.mostRecentCommentAuthor.displayUsername}
                p(class='thread-header-info')=moment(thread.mostRecentCommentTime).fromNow()
    include footer
