doctype html
html(lang='en')
  head
    link(rel='stylesheet' href='/style/index.css')
    script(src='/js/build.js')
    title='Inbox - GameXfer'

    link(rel='icon' type='image/png' href='/images/treasure-64.png')
  body
    include header
    .inbox-page
      h1.center-text.
        📮 Inbox
      .message-actions
        .right
          p.
            Filled: #{messages ? messages.length : 0}/#{MAX_INBOX_LENGTH}
      .inbox-messages-panel
        if messages && messages.length > 0
          .messages-table-headers
            .col-md-1
              .top-checkbox-container
                input(class='inbox-checkbox' type='checkbox')
            .col-md-2.inbox-header-col.
              Sender
            .col-md-5.inbox-header-col.
              Subject
            .col-md-3.inbox-header-col.
              Sent At
            .col-md-1.center-text.
              Delete
          .messages-table
            each message in messages
              .inbox-message-row
                .col-md-1.center-text
                  input(class='inbox-checkbox' type='checkbox')
                .col-md-2.inbox-message-col
                  a.inline-block(href='/u/'+message.sender)
                    p.
                      #{message.sender}
                .col-md-5.inbox-message-col.js-select-message.message-selector
                  p.
                    #{message.subject}
                .col-md-3.inbox-message-col
                  p.message-sent-time.
                    #{moment(message.sentAt).format('MMMM Do YYYY, h:mm a')}
                .col-md-1.inbox-message-col.center-text
                  i(class='fa  fa-trash  fa-md  message-trash')
        else 
          p.center-text.mt-2.mb-2.
            No messages in your inbox