doctype html
html(lang='en')
  head
    link(rel='stylesheet' href='/style/index.css')
    script(src='/js/build.js')
    if profile
      title.
        #{profile.displayUsername} - GameXfer
    else
      title.
        Profile not found - GameXfer
    link(rel='icon' type='image/png' href='/images/treasure-64.png')
  body
    include header
    if profile
      .profile-page.mt-m
        .col-md-2
          //- Empty
        .col-md-6
          if profile.avatarURL
            img.avatar-image(id='js-avatar-preview' src=profile.avatarURL)
          p.profile-username.
            #{profile.displayUsername}
          .profile-information
            p.inline-block.
              Joined:&nbsp;#{moment(profile.createdAt).format('MMMM Do, YYYY')}
            a(href=`/thread/search?author=${profile.username}`)
              p.
                Posts: #{profile.posts}
            p.inline-block.
              Coins: #{profile.xferCoin}
            img(src='/images/coins-32.png' class='inline-block  xfer-coin-image')
            br
            if profile.mostRecentCommentTime
              p.inline-block.
                Recent activity:&nbsp;
              a(href='/f/'+profile.mostRecentCommentForumId+'/t/'+profile.mostRecentCommentThreadId+'/c/'+profile.mostRecentCommentId)
                p.inline-block.text-underline.
                  #{moment(profile.mostRecentCommentTime).format('MMMM Do, YYYY')}
        .col-md-12
          .profile-bio.rendered-message-area!=profile.biography
        .col-md-1
          if user && user.username === profile.username
            a(href='/settings')
              p.
                Settings
        .col-md-2
          //- Empty
    else
      .center-text
        h3.mt-4.
          User not found.
        a(href='/')
          p.mt-2.
            Home
    include footer