doctype html
html(lang='en')
  head
    link(rel='stylesheet' href='/style/index.css')
    script(src='/js/build.js')
    title.
      #{thread.title} - GameXfer

    link(rel='icon' type='image/png' href='/images/treasure-64.png')
  body
    include header
    .nav-bar
      a.inline-block(href='/forums').
        forums
      p.inline-block.
        &nbsp;&gt;&nbsp;
      a.inline-block(href='/f/'+thread.forumId).
        #{thread.forumId}
      p.inline-block.
        &nbsp;&gt;&nbsp;
      a.inline-block(href='/f/'+thread.forumId+'/t/'+thread.threadId).
        #{thread.threadId}
    .thread-page-title.
      #{thread.title}
    .thread-page-description.
      #{thread.description}
    each comment in thread.comments.length ? thread.comments : ['No comments found.']
      .comment-panel
        if comment.author
          p
            a(href='/u/'+comment.author.username).
              #{comment.author.displayUsername}
        p.
          #{comment.text}
    include footer
