doctype html
html(lang='en')
  head
    link(rel='stylesheet' href='/style/index.css')
    script(src='/js/build.js')
    title.
      #{thread.title} - GameXfer

    link(rel='icon' type='image/png' href='/images/treasure-64.png')
  body
    include header
    ul.nav-bar
      li
        a(href='/forums').
          forums
      li
        a(href='/f/'+thread.forumId).
          #{thread.forumId}
      li
        a(href='/f/'+thread.forumId+'/t/'+thread.threadId).
          #{thread.threadId}
    .thread-page
      p.thread-page-title.
        #{thread.title}
      p.thread-page-description.
        #{thread.description}
      a(href='/f/'+thread.forumId+'/t/'+thread.threadId+'/create-comment' class='forum-ui-button').
        Comment
      if thread.comments && thread.comments.length > 0
        each comment in thread.comments
          .comment-panel
            if comment.author
              a(href='/u/'+comment.author.username)
                p.
                  #{comment.author.displayUsername}
            p.
              #{comment.text}
      else 
        .comment-panel.center-text.
          No comments found :'(
    include footer
